header {
    text-align: center;
    background-color: aliceblue;
    padding: .2em;
}

body {
    margin: 0px;
    background-color: green;
}

main {
    padding: 1vw;
}

.card-container {
    display: flex;
    justify-content: center;
}

.mystery-card {
    margin: 1em;
    width: 255px;
    height: 355px;
    background-color: aliceblue;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.output {
    background-color: limegreen;
    border: solid 3px lime;
    text-align: center;
    color: aliceblue
}